---
extends: default

ignore: |
  /ansible/files/es-index-templates/logstash/
  .terragrunt-cache/
  .yamllint


rules:
  truthy:
    allowed-values: ['true', 'false']
    check-keys: False
    level: error
  line-length: disable
